<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925930271420-g38602u84281v4htrbc2um3o7i70jbi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925930271420-g38602u84281v4htrbc2um3o7i70jbi8</string>
	<key>API_KEY</key>
	<string>AIzaSyAwDru9BQm6Vj7DeyCSfqZgAJc3V748aug</string>
	<key>GCM_SENDER_ID</key>
	<string>925930271420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nghianguyen.obee-ios</string>
	<key>PROJECT_ID</key>
	<string>obee-4fa12</string>
	<key>STORAGE_BUCKET</key>
	<string>obee-4fa12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925930271420:ios:2908ccbd034d701f</string>
	<key>DATABASE_URL</key>
	<string>https://obee-4fa12.firebaseio.com</string>
</dict>
</plist>